.btn {
  cursor: pointer;
  border: none;
  color: $very-dark-blue;
  text-transform: uppercase;

  &-yellow-primary {
    background-color: $dark-yellow;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px $shadow-yellow;

    &:hover {
      background-color: $light-yellow;
    }
  }

  &-blue-primary {
    background-color: $blue;
    border-radius: 15px;
    box-shadow: inset 0px -8px 0px $shadow-blue;

    &:hover {
      background-color: $sky-blue;
    }
  }

  &-second-yellow-primary {
    background-color: $dark-yellow;
    border-radius: 10px;
    box-shadow: inset 0px -4px 0px $shadow-yellow;

    &:hover {
      background-color: $light-yellow;
    }
  }

  &-gray-primary {
    border-radius: 10px;
    background-color: $light-gray;
    box-shadow: inset 0px -4px 0px $shadow-gray;

    &:hover {
      background-color: $white-gray;
    }
  }

  &-reset {
    border-radius: 10px;
    background-color: $light-gray;
    box-shadow: inset 0px -4px 0px $shadow-gray;

    &:hover {
      background-color: $white-gray;
    }
  }
}
