@import "../../../styles/main.scss";

.playground-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($shadow-dark-blue, 0.5);

  .playground-message {
    width: 100%;
    height: 228px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 40px 48px;

    p {
      color: $light-gray;
    }

    .result {
      margin-block: 16px 24px;
      display: flex;
      align-items: center;
      gap: 9px;

      img {
        width: 28px;
        aspect-ratio: 1;
        filter: invert(62%) sepia(28%) saturate(973%) hue-rotate(129deg)
          brightness(101%) contrast(87%);
      }

      h2 {
        color: $blue;
      }
    }

    .btns {
      display: flex;
      gap: 16px;

      button {
        padding: 15px 16px 17px 17px;
      }
    }
  }
}

@media (min-width: 768px) {
  .playground-overlay {
    .playground-message {
      height: 266px;
      padding-block: 45px;

      .result {
        gap: 24px;

        img {
          width: 64px;
        }
      }
    }
  }
}
