<div class="playground-overlay" *ngIf="messageType">
  <div class="playground-message">
    <p>you won!</p>
    <div class="result">
      <img
        [attr.src]="urlMaker()"
        alt="icon"
        [ngStyle]="{
          filter:
            playerService.chosenRole == player.X ? xImageColor : oImageColor
        }"
      />
      <h2
        [ngStyle]="{
          color: playerService.chosenRole == player.X ? '#31c3bd' : '#f2b137'
        }"
      >
        takes the round
      </h2>
    </div>
    <div class="btns">
      <button class="btn btn-gray-primary">
        <h4>quit</h4>
      </button>
      <button class="btn btn-second-yellow-primary">
        <h4>next round</h4>
      </button>
    </div>
  </div>
</div>
