<div class="playground-overlay" *ngIf="messageType">
  <div
    class="playground-message"
    [ngClass]="{
      centering: messageType == result.Tie || messageType == result.Restart
    }"
  >
    <p *ngIf="messageType == result.Won">you won!</p>
    <p *ngIf="messageType == result.Lost">oh no, you lost...</p>
    <div class="result">
      <img
        src="assets/images/icon-x-default.svg"
        alt="X icon"
        *ngIf="messageType == result.Won"
      />
      <img
        src="assets/images/icon-o-default.svg"
        alt="O icon"
        *ngIf="messageType == result.Lost"
      />
      <h2
        [ngClass]="{ yellowcolor: messageType == result.Lost }"
        *ngIf="messageType == result.Lost || messageType == result.Won"
      >
        takes the round
      </h2>
      <h2
        *ngIf="messageType == result.Restart"
        [ngStyle]="{ color: '#a8bfc9' }"
      >
        restart game?
      </h2>
      <h2 *ngIf="messageType == result.Tie" [ngStyle]="{ color: '#a8bfc9' }">
        round tied
      </h2>
    </div>
    <div class="btns">
      <button class="btn btn-gray-primary">
        <h4 *ngIf="messageType == result.Restart">no, cancel</h4>
        <!-- გავთიშო უნდა ფანჯარა -->
        <h4 *ngIf="messageType !== result.Restart">quit</h4>
        <!--  click-ზე homepage-ზე უნდა გადავიდე -->
      </button>
      <button class="btn btn-second-yellow-primary">
        <h4 *ngIf="messageType == result.Restart">yes, restart</h4>
        <!-- გავანულო ქულები -->
        <h4 *ngIf="messageType !== result.Restart">next round</h4>
        <!-- გავაგრძელებინო უნდა თამაში -->
      </button>
    </div>
  </div>
</div>
