// colors:
$blue: #31c3bd;
$sky-blue: #65e9e4;
$dark-yellow: #f2b137;
$light-yellow: #ffc860;
$very-dark-blue: #1a2a33;
$dark-blue: #1f3641;
$light-gray: #a8bfc9;
$white-gray: #dbe8ed;
$shadow-yellow: #cc8b13;
$shadow-blue: #118c87;
$shadow-dark-blue: #10212a;
$shadow-gray: #6b8997;

// font:
$font: "Outfit", sans-serif;
